.blue-circle {
  position: fixed;
	bottom: 6px;
  left: 6px;
  z-index: 2147483647;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  color: #0000FF;
  line-height: 500px;
  background: #0000FF;
	-webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 1);
  -moz-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 1);
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 1);
}
